<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWDaKQ9OfoeH9CziG5chF4mW7PZhdBtXM</string>
	<key>GCM_SENDER_ID</key>
	<string>555773019046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anomAlert</string>
	<key>PROJECT_ID</key>
	<string>shashank-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>shashank-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555773019046:ios:e54c712ae65ba0a790c567</string>
	<key>DATABASE_URL</key>
	<string>https://shashank-flutter-default-rtdb.firebaseio.com</string>
</dict>
</plist>